header {
    text-align: center;
    background-color: aqua;
}

.row {
    display: flex;
}

#column-1 {
    width: 20%
}

#column-2 {
    width: 80%
}

.card {
    background-color: navy;
    color: white;
    padding: 5px 20px;
    margin: 10px
}

.forecast {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

img {
    height: 40px;
    width: 40px;
}

#recent-searches {
    padding: 20px;
    display: flex;
    flex-direction: column;
}